# generated dataset
cleaned_metadata.csv

# installed packages
venv/

# python folders for faster interpretation I guess
__pycache__/

# notes and development increments
learning_notes.txt      
todo_list.txt           

# indexes
indexes/
models/

# frontend crap

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
